/bench
/bench_ada
/bench_ada_gnatp
/obj_chk/
/obj_gnatp/
/bench_safe
/bench_fast
*.class
*.ali
*.o
b~*
/bench_rust
gnatprove/
/ba_o2chk
/ba_o2p
/ba_o3chk
/ba_o3p
/obj_o2chk/
/obj_o2p/
/obj_o3chk/
/obj_o3p/
